            <header>
                <div id="title">žiga<span id="title-bold">leber</span> <span id="block" class="blink">▋</span></div>

                <div id="menu">
                    <!--<nav id="navigation">
                        <a href="/">Blog</a>
                        <a href="/projects.html">Projects</a>
                        <a href="/about.html">About</a>
                    </nav>-->
                    
                    <div id="contacts">
                        <a href="mailto:brokenpylons@gmail.com"><ion-icon name="ios-at"></ion-icon></a>
                        <a href="https://github.com/brokenpylons"><ion-icon name="logo-github"></ion-icon></a>
                        <a href="https://twitter.com/brokenpylons"><ion-icon name="logo-twitter"></ion-icon></a>
                        <a href="https://www.facebook.com/ziga.le.1"><ion-icon name="logo-facebook"></ion-icon></a>
                    </div>
                </div>
            </header>
