<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Noto+Sans|Noto+Serif|Titillium+Web" rel="stylesheet">

        <link href="styles/style.css" rel="stylesheet">
    </head>
    <body>
        <div>
            {{> header}}

            <div id="content">
                <p>Hi, my name is Žiga Leber. I'm a programmer who is passionate about opensource. If there is something I can help you with, you can reach me at <a href="mailto:hello@zigaleber.com">hello@zigaleber.com</a>.</p>

                <nav>
                    <a href="blog.html">Blog</a> 
                    <a href="projects.html">Projects</a> 
                </nav>
            </div>
        </div>

        {{> footer}}

        <script src="https://unpkg.com/ionicons@4.1.2/dist/ionicons.js"></script>
    </body>
</html>
