<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Noto+Sans|Noto+Serif|Titillium+Web" rel="stylesheet">

        <link href="style.css" rel="stylesheet">
        <script src="index.js" defer></script>
    </head>
    <body>
        <div>
            {{> header}}

            <div id="content">
                {{#.}}
                <div class="content-entry">
                    <a class="content-title" href="{{html_url}}">{{name}}</a>
                    <div class="content-tags">
                        {{pushed_at}}&emsp;
                        {{license.key}}&emsp;
                        <a href="{{html_url}}/stargazers"><ion-icon name="star"></ion-icon> {{stargazers_count}}</a>&emsp;
                        <a href="{{html_url}}/network"><ion-icon name="git-network"></ion-icon> {{forks_count}}</a>
                    </div>
                    <p class="content-text">{{description}}</p>
                </div>
                {{/.}}
            </div>
        </div>

        {{> footer}}

        <script src="https://unpkg.com/ionicons@4.1.2/dist/ionicons.js"></script>
    </body>
</html>
