body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
  
    margin: auto;
    padding: 0 1em;
    max-width: 800px;

    color: #252922;
    background-color: #FEFEFE;

    font-family: 'Noto Sans', sans-serif;
}

header {
    margin: 2vw 0 3vw 0;
    display: flex;
    justify-content: space-between;

    font-weight: normal;
    font-size: 1.8em;
}

footer {
    padding: 1em;
    text-align: center;
    font-size: 0.8em;
    color: gray;
}

h1 {
    font-size: 1.8em;
}

pre {
    padding: 1em;
    background-color: #EFEFEF;
    border-left: black solid;

}

#content p {  
    font-family: 'Noto Serif', serif;
    text-align: justify;
    line-height: 2;
}

#title {
    font-weight: normal;
}

#title-bold {
    font-weight: bold;
}

#block {
    font-size: 0.7em;
    vertical-align: 10%;
}

.blink {
    animation: blink 2s linear infinite;
}

@keyframes blink {
    0% {
        visibility: hidden;

    }
    50% {
        visibility: hidden;
    }
    100% {
        visibility: visible;
    }
}

a {
    color: inherit;
    text-decoration: none;
}

#content a {
    font-weight: bold;
}

a:hover {
    color: darkgray;
}

nav {
    margin-top: 1.5em;
}

nav > a {
    padding: 0.3em 0.8em 0.5em 0.8em;
    margin: 0 0.3em 0 0;
    border: 1px solid;
    border-radius: 8px;

    font-size: 0.8em;
}

#menu {
    display: flex;
}

#contacts {
    word-spacing: 0.1em;
}

.entry {
    margin: 3em 0;
}

.entry h2, h1 {
    margin-bottom: 0.1em;    
}

.tags {
    font-size: 0.7em;
    color: gray;
}

ion-icon {
    font-size: 0.7em;
}
